.restaurant {
  display: flex;
  align-items: flex-end;
  &__image {
    width: 300px !important;
    height: 275px !important;
    background-color: black;
  }
  .address {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .restaurant {
    flex-direction: column;
    align-items: start;
    .address {
      width: 100%;
    }
  }
}
