.address {
  text-align: left !important;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  &__title {
    text-align: left !important;
    padding: 0;
    margin: 4px 0;
    font-weight: 800;
  }
  &__category {
    font-style: italic;
    font-weight: bold;
    padding: 0;
  }
  &__body {
    margin: 10px 0;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: left !important;
    position: relative;
    &::before {
      content: url(/images/icon_location.png);
      display: block;
      width: 38px;
      height: 38px;
      left: 0px;
      position: absolute;
    }
    .gmaps {
      text-decoration: underline;
      color: #6e6a5f;
    }
  }
}
