.address {
  text-align: left !important;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  &__title {
    text-align: left !important;
    padding: 0;
    margin: 4px 0;
    font-weight: 800;
  }
  &__category {
    font-style: italic;
    font-weight: bold;
    padding: 0;
  }
  &__body {
    margin: -38px 0 0 38px;
    padding: 0 !important;
    text-align: left !important;
    min-height: 88px;
    &::before {
      content: url(/images/icon_location.png);
      display: block;
      width: 38px;
      height: 38px;
      position: relative;
      left: -42px;
      top: 48px;
    }
    .gmaps {
      text-decoration: underline;
      color: #6e6a5f;
    }
  }
}
