.image {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
  border: 10px solid white;
  background-color: black;
  width: 95%;
  min-height: 239px;
}
.row {
  display: flex;
  ul {
    margin-bottom: 20px;
    li {
      line-height: 22px;
    }
  }
}
@media (max-width: 600px) {
  .row {
    flex-direction: column-reverse;
  }
  .row:nth-child(2) {
    flex-direction: column;
  }
}
