.hotel {
  display: flex;
  align-items: flex-end;
  &__image {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    border: 10px solid white;
    background-color: black;
    width: 500px;
    height: 400px;
  }
  .address {
    width: 40%;
    padding: 10px 30px;
  }
}

@media (max-width: 750px) {
  .hotel {
    flex-direction: column;
    align-items: start;
    width: 92%;
    .information {
      width: 100%;
    }
    &__image {
      width: 100%;
    }
    .address {
      padding: 10px;
      width: 100%;
    }
  }
}
